<div class="calendar noselect">
  <div class="header">
    <span>{{ getCurrentMonth() }}</span>
  </div>
  <div class="weekends">
    <div *ngFor="let wn of getWeekEndNames()">
      {{ wn }}
    </div>
  </div>
  <div class="days">
    <div class="non-day" *ngFor="let d of getSkipDays()">
      {{ "" }}
    </div>

    <div class="day" *ngFor="let d of getMonthDays()" [ngClass]="d.cssClass">
      <span class="mdi mdi-check-all check"></span>
      {{ convertToPersianDigits(d.num) }}
    </div>
  </div>
</div>
