.today {
  background-color: rgba($color: #744ef1, $alpha: 0.75);
}

.weekend {
  background-color: rgba($color: #d95a2c, $alpha: 0.75);
}

* {
  box-sizing: border-box;
}

.calendar {
  margin-right: 20px;
  color: whitesmoke;
  align-items: center;
  justify-content: center;

  .header {
    width: 100%;
    height: 100%;
    text-align: center;
    span {
      font-size: 25px;
      font-family: "Droid Arabic Kufi";
      font-weight: bold;
    }
  }

  .weekends {
    direction: rtl;
    display: flex;
    border-bottom: 1px solid #675d5d;
    font-family: "Droid Arabic Kufi";
    div {
      width: 14.28%;
      margin-left: 5px;
      padding: 14px 0;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .days {
    font-family: "Vazir";
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 300;
    margin-top: 12px;

    .day {
      width: 13.24%;
      padding: 10px 0;
      margin-top: 5px;
      margin-left: 5px;
      transition: 0.5s;
      border: 1px solid transparent;

      .check {
        display: block;
        margin: 13px 42px;
        position: absolute;
        font-size: 18px;
        color: rgba($color: #bdcc5b, $alpha: 1);
      }
    }

    .day:hover {
      background-color: rgba($color: #7a6c6c, $alpha: 0.3);
      border: 1px solid #877c7c;
      cursor: pointer;
    }

    div:active {
      background-color: rgba($color: #7a6c6c, $alpha: 0.7);
    }

    .non-day {
      width: 13.24%;
      padding: 10px 0;
      margin-top: 5px;
      margin-left: 5px;
      transition: 0.5s;
      border: 1px solid transparent;
    }
  }
}
