.content {
  width: 100%;
  height: 100%;

  .left-content {
    border-right: 1px solid #675d5d;
    width: 500px;
    height: 435px;
    margin-left: 20px;
    float: left;
  }

  .right-content {
    margin-left: 540px;
    width: 300px;
    // background-color: yellow;
    // position: fixed;
    display: block;
    color: white;

    .addFood {
      width: 100%;
      // background-color: green;
      position: relative;
      border-bottom: 1px solid #675d5d;
      padding-bottom: 4px;

      input {
        float: right;
        font-size: 14px;
        font-family: "Vazir";
        color: #d6d6d6;
        direction: rtl;
        background-color: transparent;
        border: none;
      }
    }

    .add-btn:hover {
      color: #808fb2;
      cursor: pointer;
    }
  }
}
