<div class="layout-base">
  <div class="background-filter">
    <div class="header">
      <div class="menu">
        <ul>
          <li
            [routerLink]="['/panel/food']"
            routerLinkActive="router-link-active"
          >
            <span class="mdi mdi-calendar-cursor"></span>
          </li>
          <li
            [routerLink]="['/panel/allocation']"
            routerLinkActive="router-link-active"
          >
            <span class="mdi mdi-food-fork-drink"></span>
          </li>
          <li
            [routerLink]="['/panel/customers']"
            routerLinkActive="router-link-active"
          >
            <span class="mdi mdi-account-cog"></span>
          </li>
          <li
            [routerLink]="['/panel/orders']"
            routerLinkActive="router-link-active"
          >
            <span class="mdi mdi-map-check"></span>
          </li>
        </ul>
      </div>
      <div class="logout" (click)="logout()">
        <span class="mdi mdi-logout"></span>
      </div>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
