.layout-base {
  width: 860px;
  height: 500px;
  // background-color: black;
  background: url("../../assets/img/food-images/01.jpg") no-repeat center center
    fixed;
  background-size: cover;
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);

  .background-filter {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.7);
    border-radius: 4px;
  }

  .header {
    width: 100%;
    height: 40px;
    transition: 0.3s;
    padding-top: 5px;

    .menu {
      display: inline-block;
      font-size: 18px;
      ul {
        color: white;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          float: left;
          width: 40px;
          height: 40px;
          display: grid;
          align-items: center;
          text-align: center;
          margin-left: 5px;
          cursor: pointer;
          transition: 0.3s;
        }

        li:hover {
          color: #808fb2;
        }
      }
    }

    .logout {
      float: right;
      width: 40px;
      height: 40px;
      color: white;
      display: grid;
      align-items: center;
      text-align: center;
      transition: 0.3s;
      cursor: pointer;
      font-size: 18px;
    }

    .logout:hover {
      color: #808fb2;
    }
  }

  .content {
    top: 40px;
    width: 100%;
  }
}
